/*全局设置*/
*{
    text-decoration: none;
    color: white;
}

.wrap{
 min-height: calc(99vh);   
}
body{
    background-color: dimgray;
}

.logo{
margin: 0px;
}

.daoHangTiao{
    background-color: black;
    text-align: center;
}

.muLu{
    margin: 0px;
    padding: 10px;
}

.daoHangTiao .muLu:hover{
    background-color:midnightblue;
}

.logo{
    font-weight: 500px;
}

.zhengWen{
    text-align: center;
    padding: 50px;
}

.zhengWen:hover{
    background-color: lightsteelblue;
}
.yeJiao{
    text-align: center;
    background-color: black;
}



/*电脑端*/
@media (min-width:700px){
    .daoHangTiao{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .zhengWenLeiRong{
        display: flex;
         flex-direction: row;
        flex-wrap: wrap;
    }

}
